doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    script(src='/js/libs/react-0.10.0.min.js')
    script(src='/js/libs/JSXTransformer-0.10.0.js')
    script(src='/js/main.js')
